/* Text area Header Part */
::selection {
    color: yellow;
    background-color: red;
}

.text-area-option {
    padding: 12px 15px;
    border: 2px solid rgba(0, 0, 0, 0.374);
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-style,
.align-content,
.font-size-color {
    display: flex;
    gap: 30px;
}

.my-editor {
    padding: 50px 100px;
}

#text-area-editor {
    outline: transparent;
    border: 1px solid rgba(85, 0, 255, 0.724);
    padding: 10px;
    height: 50vh;
    width: 100%;
}

/* Button Design */
#default,
#bold,
#italic,
#underline,
#align-left,
#align-right,
#center,
#align-justify {
    background-color: aliceblue;
    padding: 12px;
    border-radius: 12px;
}

/* Button Design */
#default:hover,
#bold:hover,
#italic:hover,
#underline:hover,
#align-left:hover,
#align-right:hover,
#center:hover,
#align-justify:hover {
    background-color: rgb(161, 192, 220);
}

.copyright {
    text-align: center;
    color: aliceblue;
}

/* REESPONSIVE STYLE */
@media screen and (min-width:577px) and (max-width:992px) {
    .my-editor {
        padding: 20px 2px;
    }

    .text-area-option {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width:576px) {
    .my-editor {
        padding: 20px 2px;
    }

    .text-area-option {
        flex-direction: column;
        gap: 20px;
    }

    #text-area-editor {
        height: 100vh;
    }
}